<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragments.html :: nav"></nav>
<div class="alert alert-danger" role="alert" th:if="${account != null && !account.recognizedManager && account.signUpAsManager}">
    매니저 권한을 부여받은 이후부터 ddingDong 서비스를 이용하실 수 있으며, 권한부여에는 수 일 이내의 시간이 소요될 수 있습니다.
</div>
<div class="container">
    <div class="py-5 text-center">
        <h2>ddingDong, 띵동</h2>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>

</body>
</html>