<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragments.html :: nav"></nav>
<div th:replace="fragments.html :: detail-top"></div>
<div hidden th:text="${success}" th:if="${success}" id="success"></div>
<div hidden th:text="${deleteSuccess}" th:if="${deleteSuccess}" id="deleteSuccess"></div>
<div class="row justify-content-center mb-5">
    <div class="card text-center col-10">
        <div class="card-header">
            <div th:replace="fragments.html :: circle-menu('activity')"></div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="mt-4 ml-5 px-3 col-sm-11 text-right justify-content-end">
                    <a th:href="@{'../'+${circle.path}+'/activity/write'}" th:if="${isManager}" type="button" class="btn btn-secondary btn-sm py-2">
                        <i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i>
                        작성하기
                    </a>
                </div>
            </div>
            <div class="row mt-2 ml-4 mr-4 mb-5">
                <div class="col-12 justify-content-center">
                    <table class="table table-hover" th:each="manager : ${circle.getManagers()}">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" colspan="10">제목</th>
                            <th scope="col" colspan="5">작성자</th>
                            <th scope="col"  colspan="10">작성일</th>
                            <th scope="col">조회수</th>

                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="activity : ${activities}">
                                <th th:text="${activity.getId()}">Mark</th>
                                <td colspan="10">
                                    <a style="color: black" th:text="${activity.getTitle()}" th:href="@{'../'+${circle.path}+'/activity/detail?id='+${activity.getId()}+'&page='+${activities.getNumber()}}"></a>
                                </td>
                                <td colspan="5" th:text="${manager.name}">@mdo</td>
                                <td  colspan="10" th:text="${#temporals.format(activity.getWritedTime(),'yyyy-MM-dd HH:mm')}"></td>
                                <td th:text="${activity.getViewCount()}">Otto</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!activities.hasPrevious()}? disabled">
                                <a th:href="@{'../'+${circle.path}+'/activity?'+'page=' + ${activities.getNumber() - 1}}"
                                   class="page-link" tabindex="-1" aria-disabled="true">
                                    Previous
                                </a>
                            </li>
                            <li class="page-item" th:classappend="${i == activities.getNumber()}? active"
                                th:each="i: ${#numbers.sequence(0, activities.getTotalPages() - 1)}">
                                <a th:href="@{'../'+${circle.path}+'/activity?'+'page='+ ${i}}"
                                   class="page-link" href="#" th:text="${i + 1}">1</a>
                            </li>
                            <li class="page-item" th:classappend="${!activities.hasNext()}? disabled">
                                <a th:href="@{'../'+${circle.path}+'/activity?'+'page=' + ${activities.getNumber() + 1}}"
                                   class="page-link">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>
<script>
    $(function(){
        if($("#success").text()){
            alert($("#success").text());
        }

        if($("#deleteSuccess").text()){
            alert($("#deleteSuccess").text());
        }
    });
</script>
</body>
</html>