<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragments.html :: nav"></nav>
<div th:replace="fragments.html :: detail-top"></div>
<div class="row justify-content-center mb-5">
    <div class="card text-center col-10">
        <div class="card-header">
            <div th:replace="fragments.html :: circle-menu('activity')"></div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="mt-4 ml-5 px-3 col-sm-11 text-right justify-content-end">
                    <a th:href="@{'../'+${circle.path}+'/activity/write'}" th:if="${isManager}" type="button" class="btn btn-secondary btn-sm py-2">
                        <i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i>
                        작성하기
                    </a>
                </div>
            </div>
            <div class="row mt-2 ml-4 mr-4 mb-4">
                <div class="col-12 justify-content-center">
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
</body>
</html>