<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments.html :: nav"></nav>
<div th:replace="fragments.html :: detail-top"></div>
<div class="row justify-content-center shadow-sm">
    <div class="card col-10">
        <div class="card-header">
            <div th:replace="fragments.html :: circle-menu('activity')"></div>
        </div>
        <div class="card-body">
            <div class="row justify-content-center mt-1">
                <div class="col-12">
                    <div class="alert alert-light" role="alert">
                        <div class="text-center">
                            <h3><strong th:text="${activity.title}"></strong></h3>
                        </div>
                        <div class="row justify-content-center" >
                            <form class="col-sm-12" action="#">
                                <div class="form-group">
                                    <label for="title">제목</label>
                                    <input id="title" type="text"  class="form-control"
                                           disabled th:value="${activity.title}">
                                </div>

                                <div class="form-group" th:each="manager : ${circle.getManagers()}">
                                    <label for="writer">작성자</label>
                                    <input id="writer" type="text" class="form-control"
                                           disabled th:value="${manager.name}">
                                </div>

                                <div class="form-group">
                                    <label for="writedTime">작성일</label>
                                    <input id="writedTime" type="text" class="form-control"
                                           disabled th:value="${#temporals.format(activity.getWritedTime(),'yyyy-MM-dd HH:mm')}">
                                </div>
                                <div class="form-group">
                                    <label>내용</label>
                                    <div id="detailContent" role="alert" class="text-center"><br>
                                    <span th:utext="${activity.content}"></span>
                                    </div>
                                </div>
                                <div class="form-group text-center mt-4">
                                    <input th:if="${isManager}" type="submit" class="btn btn-dark px-5 py-2 mr-3" value="수정하기">
                                    <a th:href="@{'../activity?page='+ ${page}}" class="btn btn-secondary px-5 py-2">목록</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>