<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<nav th:replace="fragments.html :: nav"></nav>

<div class="container">
    <div class="py-4 text-center">
        <small>ddingDong, 띵동</small>
        <h2>동아리 개설</h2>
    </div>

    <div class="row justify-content-center">
        <form class="col-sm-6" action="#"
              th:action="@{/create-circles}" th:object="${circleForm}" method="post">

            <div class="form-group">
                <label for="path">동아리 URL</label>
                <input id="path" type="text" th:field="*{path}" class="form-control" placeholder="new-circle1234"
                       aria-describedby="passwordHelp" required>
                <small id="passwordHelp" class="form-text text-muted">
                    공백없이 문자, 숫자, 대시(-)와 언더바(_)만 2자 이상 20자 이내로 입력하세요. <br>
                    동아리에 접속하는 링크로 사용됩니다. 예) /circle/<b>new-circle1234</b>
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('path')}" th:errors="*{path}">path Error</small>
            </div>

            <div class="form-group">
                <label for="title">동아리 이름</label>
                <input id="title" type="text" th:field="*{title}" class="form-control"
                       aria-describedby="titleHelp" required>
                <small id="titleHelp" class="form-text text-muted">
                    동아리 제목을 50자 이내로 입력하세요.
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</small>
            </div>

            <div class="form-group">
                <label for="ownUrl">동아리 대표링크</label>
                <input id="ownUrl" type="text" th:field="*{ownUrl}" class="form-control"
                       aria-describedby="ownUrlHelp">
                <small id="ownUrlHelp" class="form-text text-muted">
                    동아리의 공식 SNS가 있다면 링크를 입력하세요. 링크가 여러개일 경우 쉼표로 구분하여 입력하세요.
                </small>
            </div>

            <div class="form-group">
                <label for="field">동아리 분류</label>
                <select class="form-control" id="field" th:field="*{field}" required>
                        <option value="학술분과">학술분과</option>
                        <option value="전시창작분과">전시창작분과</option>
                        <option value="체육분과">체육분과</option>
                        <option value="연행예술분과">연행예술분과</option>
                        <option value="종교분과">종교분과</option>
                        <option value="봉사분과">봉사분과</option>
                </select>
            </div>

            <div class="form-group">
                <label for="shortIntroduce">한줄 소개</label>
                <input id="shortIntroduce" type="text" th:field="*{shortIntroduce}" class="form-control" placeholder="한줄로 간결하게 적어주세요."
                       aria-describedby="shortIntroduceHelp" required>
                <small id="shortIntroduceHelp" class="form-text text-muted">
                    100자 이내로 입력하세요.
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('shortIntroduce')}" th:errors="*{shortIntroduce}">shortIntroduce Error</small>
            </div>

            <div class="form-group">
                <label for="detailDescription">상세 소개</label>
                <textarea id="detailDescription" type="textarea" th:field="*{detailDescription}" class="editor form-control"
                          placeholder="동아리에 대해 자세히 소개해주세요." aria-describedby="fullDescriptionHelp" required></textarea>
                <small id="detailDescriptionHelp" class="form-text text-muted">
                    동아리의 목표와 일정, 진행 방식, 활동 계획 등 동아리에 대한 상세한 정보를 적어 주세요.
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('detailDescription')}" th:errors="*{detailDescription}">detailDescription Error</small>
            </div>

            <div class="form-group">
                <button class="btn btn-secondary btn-block" type="submit"
                        aria-describedby="submitHelp">개설하기</button>
            </div>
        </form>
</div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<div th:replace="fragments.html :: editor"></div>
</body>
</html>