<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragments.html :: nav"></nav>
<div class="container">
    <div class="mt-5 mb-5 text-center">
        <h2>계정 찾기</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="alert alert-light" role="alert">
                <div class="py-3 text-center">
                    <h4>이메일 주소를 입력해 주세요.</h4>
                </div>
                <div class="py-2 text-center">
                    <h6 class="form-text text-danger" role="alert" th:if="${message}" th:text="${message}"></h6>

                    <h6 class="mb-3">회원 가입시 입력하신 이메일 주소를 입력하시면,<br>
                        해당 이메일로 아이디 및 비밀번호 변경 링크를 보내드립니다.</h6>
                    <div class="row justify-content-center">
                        <form class="col-sm-8"
                              th:action="@{/find-account}" method="post" th:object="${emailForm}">
                            <div class="form-group">
                                <input id="email" type="email" th:field="*{email}" class="form-control"
                                       placeholder="이메일" required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</small>
                            </div>
                            <div class="row justify-content-center">
                                <div class="form-group mr-2">
                                    <button class="btn btn-outline-primary" type="submit"
                                            aria-describedby="submitHelp">계정 찾기</button>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-outline-secondary" href="#" th:href="@{/}">취소</a>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>

</body>
</html>