<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments.html :: nav"></nav>
<div class="container">
    <div class="row text-left mt-5 py-3 content-justify-start">
        <div class="col-3 text-right">
            <h4 th:if="${isManager}">관리중인 동아리</h4>
            <h4 th:if="${!isManager}">나의 지원내역</h4>
        </div>

        <div class="col-9">
            <div class="row text-center">
                <div class="card col-4 mr-4 mb-4"  th:each="enrollment : ${enrollments}">
                    <div class="card-header">
                        <strong>
                            <div>
                                <a style="color: black" th:href="@{'/circle/'+${enrollment.recruit.circle.path}}" th:text="${enrollment.recruit.circle.title}"></a>
                            </div>
                        </strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a style="color: black" th:href="@{'/circle/'+${enrollment.recruit.circle.path}+'/recruit/detail?id='+${enrollment.recruit.id}}" th:text="${enrollment.recruit.title}"></a>
                        </li>
                        <li class="list-group-item">
                            <a th:if="${isManager}" th:href="@{'/circle/'+${enrollment.recruit.circle.path}+'/recruit/applications?id='+${enrollment.recruit.id}}"
                               class="btn btn-outline-success px-4 py-2">지원서 열람하기</a>
                            <a th:if="${!isManager}" th:href="@{'/circle/'+${enrollment.recruit.circle.path}+'/recruit/applications/enrollment?id='+${enrollment.id}+'&recruitId='+${enrollment.recruit.id}}"
                               class="btn btn-outline-success px-4 py-2">내 지원서 열람하기</a>
                        </li>
                        <li class="list-group-item"  th:if="${enrollment.recruit.circle.isMember(account)}">
                            <span class="badge badge-secondary py-2">가입 완료</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>

</body>
</html>