<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragments.html :: nav"></nav>
<div class="container">
    <div class="mt-5 mb-5 text-center">
        <h2>비밀번호 변경</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="alert alert-light" role="alert">
                <div class="py-3 text-center">
                    <h4>변경하실 비밀번호를 입력해 주세요.</h4>
                </div>
                <div class="py-2 text-center">
                    <div class="row justify-content-center">
                        <form class="col-sm-10"
                              th:action="@{/update-password}" method="post" th:object="${passwordForm}">
                            <div class="form-group">
                                <input id="password" type="password" th:field="*{password}" class="form-control"
                                       placeholder="비밀번호"  aria-describedby="passwordHelp"  required>
                                <small id="passwordHelp" class="form-text text-muted">
                                    영문자, 숫자, 특수기호를 각각 1개 이상 조합하여 8자 이상 50자 이내로 입력하세요.
                                </small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</small>
                            </div>
                            <div class="form-group">
                                <input id="confirmPassword" type="password" th:field="*{confirmPassword}" class="form-control"
                                       placeholder="비밀번호 확인"  aria-describedby="confirmPasswordHelp" required>
                                <small id="confirmPasswordHelp" class="form-text text-muted">
                                    비밀번호를 다시 한번 입력하세요.
                                </small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">confirmPassword Error</small>
                            </div>
                            <input type="text" hidden name="token" th:value="${token}">
                            <div class="row justify-content-center">
                                <div class="form-group mr-2">
                                    <button class="btn btn-outline-primary" type="submit"
                                            aria-describedby="submitHelp">비밀번호 변경</button>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-outline-secondary" href="#" th:href="@{/}">취소</a>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>

</body>
</html>