<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragments.html :: nav"></nav>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu('account')"></div>
        </div>
        <div class="col-8">
            <div class="row">
                <h3 class="col-12 ml-2">닉네임 변경</h3>
            </div>
            <div th:if="${message}" th:text="${message}" class="alert alert-info ml-3 mt-3" role="alert">
                닉네임이 변경되었습니다.
            </div>
            <form class="col-sm-10" th:object="${nicknameForm}"
                  th:action="@{/update-nickname}" action="/update-nickname" method="post">
                <div class="form-group mt-3">
                    <input id="nickname" th:field="*{nickname}" type="text" class="form-control"
                           placeholder="닉네임" aria-describedby="nicknameHelp" required>
                    <small id="nicknameHelp" class="form-text text-muted">
                        닉네임을 20자 이내로 입력하세요. 공백은 사용할 수 없습니다.
                    </small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">nickname Error</small>
                </div>
                <div class="form-group mr-2 mb-4">
                        <button class="btn btn-outline-dark" type="submit"
                                aria-describedby="submitHelp">닉네임 변경</button>
                </div>
            </form>

            <div class="row mt-3">
                <h3 class="col-12 ml-2">계정 삭제</h3>
            </div>
            <div class="alert alert-danger ml-3 mt-3 mb-3" role="alert">
                계정을 삭제하게 되면 다시 복구할 수 없습니다. 신중하게 삭제해주세요.
                <small class="form-text text-muted">현재는 이 기능을 지원하지 않습니다.</small>
            </div>
            <form class="col-sm-10" th:action="@{/delete-account}" action="/delete-account" method="post">
                <button id="deleteaccount" class="btn btn-danger mb-3" type="submit"
                        aria-describedby="submitHelp" disabled>계정 삭제</button>
            </form>


        </div>
    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
</body>
</html>