<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragments.html :: nav"></nav>
<div class="alert alert-danger" role="alert" th:if="${account != null && !account.recognizedManager && account.signUpAsManager}">
    매니저 권한을 부여받은 이후부터 ddingDong 서비스를 이용하실 수 있으며, 권한부여에는 수 일 이내의 시간이 소요될 수 있습니다.
</div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2 mt-3">
            <div th:replace="fragments.html :: settings-menu('tags')"></div>
        </div>

        <div class="col-8 mt-2 ml-2">
            <div class="row mb-3">
                <h2 class="col-12">태그 설정</h2>
            </div>
            <div class="alert alert-light" role="alert">
                여러 개의<strong> 학부 또는 전공</strong>을 태그할 수 있으며, 선택 목록에
            없는 항목은 태그가 불가능합니다.
            </div>
            <div class="row mb-3">
                <div class="col-10">
                    <div id="departmentWhitelist" th:text="${departmentWhitelist}" hidden></div>
                    <input id="departmentTags" type="text" name="departmentTags" th:value="${#strings.listJoin(departmentTags, ',')}"
                           class="tagify-outside" aria-describedby="departmentTagsHelp"/>
                </div>
            </div>

            <div class="alert alert-light" role="alert">
                자신을 소개하는 태그를 등록해주세요!
            </div>
            <div class="row mb-3">
                <div class="col-10">
                    <div id="introduceWhitelist" th:text="${introduceWhitelist}" hidden></div>
                    <input id="introduceTags" type="text" name="introduceTags" th:value="${#strings.listJoin(introduceTags, ',')}"
                           class="tagify-outside" aria-describedby="introduceTagsHelp"/>
                </div>
            </div>

            <div class="alert alert-light" role="alert">
                흥미 있는 분야의 태그를 등록하면 해당 분야의 동아리가 개설되었을 때 알림을 받을 수 있습니다.
            </div>
            <div class="row mb-5">
                <div class="col-10">
                    <div id="fieldWhitelist" th:text="${fieldWhitelist}" hidden></div>
                    <input id="fieldTags" type="text" name="fieldTags" th:value="${#strings.listJoin(fieldTags, ',')}"
                           class="tagify-outside" aria-describedby="introduceTagsHelp"/>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: csrf-config"></script>
<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<script th:replace="fragments.html :: departmentTag"></script>
<script th:replace="fragments.html :: introduceTag"></script>
<script th:replace="fragments.html :: fieldTag"></script>

</body>
</html>