<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<nav th:replace="fragments.html :: nav"></nav>
<div class="alert alert-danger" role="alert" th:if="${account != null && !account.recognizedManager && account.signUpAsManager}">
    매니저 권한을 부여받은 이후부터 ddingDong 서비스를 이용하실 수 있으며, 권한부여에는 수 일 이내의 시간이 소요될 수 있습니다.
</div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2 mt-3">
            <div th:replace="fragments.html :: settings-menu('tags')"></div>
        </div>

        <div class="col-8 mt-2 ml-2">
            <div class="alert alert-info" role="alert">
                여러 개의<strong> 학부 또는 전공</strong>을 태그할 수 있으며, 선택 목록에
            없는 항목은 태그가 불가능합니다.
            </div>
            <div class="row mb-3">
                <div class="col-10">
                    <div id="departmentWhitelist" th:text="${departmentWhitelist}" hidden></div>
                    <input id="departmentTags" type="text" name="departmentTags" th:value="${#strings.listJoin(departmentTags, ',')}"
                           class="tagify-outside" aria-describedby="departmentTagsHelp"/>
                </div>
            </div>

            <div class="alert alert-warning" role="alert">
                여러 개의<strong> 학부 또는 전공</strong>을 태그할 수 있으며, 선택 목록에
                없는 항목은 태그가 불가능합니다.
            </div>
            <div class="row mb-3">
                <div class="col-10">
                    <div id="departmentWhitelist" th:text="${departmentWhitelist}" hidden></div>
                    <input id="departmentTags" type="text" name="departmentTags" th:value="${#strings.listJoin(departmentTags, ',')}"
                           class="tagify-outside" aria-describedby="departmentTagsHelp"/>
                </div>
            </div>




        </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: csrf-config"></script>
<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<script type="application/javascript">
    $(function() {
        function tagRequest(url, tagTitle) {
            $.ajax({
                dataType: "json",
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/settings/departmentTags" + url,
                data: JSON.stringify({'tagTitle': tagTitle})
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            });
        }

        function onAdd(e) {
            tagRequest("/add", e.detail.data.value);
        }

        function onRemove(e) {
            tagRequest("/remove", e.detail.data.value);
        }

        var tagInput = document.querySelector("#departmentTags");
        var tagify = new Tagify(tagInput, {
            enforceWhitelist: true,
            whitelist: JSON.parse(document.querySelector("#departmentWhitelist").textContent),
            dropdown : {
                position: "text",
                enabled: 0 // suggest tags after a single character input
            } // map tags
        });
        tagify.on("add", onAdd);
        tagify.on("remove", onRemove);
        // add a class to Tagify's input element
        tagify.DOM.input.classList.add('form-control');
        // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
        tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
    });
</script>
</body>
</html>